<div class="wrap">
  <h1 class="text-center">{{quiz.title}}</h1><br />
  <h5 class="text-center">{{quiz.description}}</h5><br />

  <div class="d-flex justify-content-center"> 
    <div class="col-6">
      {{#each quiz.questions}}
        <div class="card mb-4" style="width: 100%;">
          <div class="card-header">
            {{this.text}} 
          </div>
          <ul class="list-group list-group-flush">
            {{#each this.options}}
              <li class="list-group-item">{{this}}</li>
            {{/each}}
            <li class="list-group-item">Correct answer: {{this.options.[this.correctAnswerIndex]}}</li> 
            <li class="list-group-item">Keywords: {{this.keywords}}</li> 
          </ul>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-success" type="button"><a
        class="link-success"
        href="/quizzes/{{quiz._id}}/update"
        style="text-decoration:none;"
      >Update quiz</a></button>
  </div>

</div>


